body {
    background-color: black;
}

img {
    display: block;
    margin: auto;
    margin-top: 60px;
    max-width: 400px;
}

audio {
    display: block;
    margin: auto;
    margin-top: 30px;
}

@media (max-width: 500px) {
    img {
        max-width: 300px;
    }
}
@media (max-width: 400px) {
    audio {
        width: 80%;
    }
}
@media (max-width: 310px) {
    img {
        max-width: 200px;
    }
}